/*  
Abraham Schultz
1/19/2020
much of this code was copied from proffessor Sally Kyvernitis, then changed to suit my needs.
I edited a few of the values for size and color, as well as creating additional styles
to apply to certain html sections.
*/

html, body {  
    margin:0; 
    padding:0; 
}

/* wrapper for the top burger icon*/
#topIcon{
    width: 30%;
    padding-left: 35%;
    padding-top: 70px;
}

body { 
    background-color: #E7C4A8;
    color: black;  
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
}




/* styling for intro text */
#intro {
    padding: 0px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.header{
    font-size: 30px;
    padding: 0;
    padding-bottom: 10px;

}


#nav a {  
    text-decoration:none;  
    color: #C8C8C8; 

}
/*make sure content is not hidden by header and footer*/
#content { 
    padding:12px;
    padding-top: 10px; 
    padding-bottom: 40px; 
}





/*this is the style for the navbar dropdown content */
.dropContent {
    background-color:black;
    right:0px;
    position: absolute;
    font-size: 14px;
    z-index: 3;
    padding: 8px;
    line-height: 1.7em;
    border-radius: 8px;
    letter-spacing: 1px;
    right: -500px;  
    visibility: hidden; 
    transition: right 0.5s ease 0s;
}

#footer { 
    position: fixed;
    bottom: 0px; 
    left: 0px; 
    z-index: 1;
    background-color:#F0D665;
    color: black; 
    width:100%;
    text-align:center;
    padding:1.25%;	
    box-shadow: 0px 0px 5px black; 
}