/*
Abraham Schultz
1/19/2020
much of this code was copied from proffessor Sally Kyvernitis.
I edited a few of the values for size and color.
All of myStyle.css applies to Mobile and Desktop */

.row {
    box-sizing: border-box; 
    width: 100%;
    padding: 2ex 0ex;
    padding-bottom: 10px;
    background-color: #CAEAA7; 
    margin-bottom: 4ex; 
    box-shadow: 5px 5px 5px grey;
}
.column {
    box-sizing: border-box; 
    padding: 1ex 2ex; 
}

.column img {
    width:100%;
    border-radius: 8px;
    box-shadow: 5px 5px 5px grey;
}

/* ------------ Mobile Only Styles --------------- */
@media screen and (max-width: 390px) {
    .titleNav { /* titleNav is fixed at the top */
        position:fixed; 
        top:0px;
        left:0px;
        z-index: 1;                    
        width: 100%;    
        background-color:#F0D665;
        padding-bottom: 1.5%; 
        color: black;
        font-weight: bold;
        box-shadow: 0px 0px 5px black;  
        min-width: 650px; 
        height: 25%;

    }

    #pageTitle { 
        padding:12px;
        padding-bottom: 0px; 
        font-size:60px;
        font-style: normal;
        font-family: Impact, Charcoal, sans-serif;
        letter-spacing: 2.5px; 
        float: left;
    }

    /* for keeping the main icon responsive and placed correctly*/
    #mainIcon{
        padding-left:0;
        padding-top:40%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: 0px;
        width: 100%;  
    }


    #nav { /* nav bar in top right*/
        float:left;
        font-size:24px;
        padding-top:10px;
    }

    /* don't delete this even though there are no style rules - js needs it, references it. */
    .dropHeader {

    }
    /* style for dropdown menu buttons*/
    .dropdown {
        position: relative;  
        display: inline-block;
        margin-right: 1ex;
        cursor: pointer;
        min-width: 70px;
    }
    
    .dropdown img{
        width: 50px;
        height: 37px;
    }
}

/* ------------ Desktop Only Styles --------------- */
@media screen and (min-width: 390px) {

    .column {
        float: left;
    }

    .column25 {
        width: 25%;
    }
    .column33 {
        width: 33%;
    }
    .column50 {
        width: 50%;
    }
    .column66 {
        width: 66%;
    }
    .column75 {
        width: 75%;
    }

    /*i added a 90% screen column for use with text that should cover the whole screen*/
    .column90{
        width: 90%;
    }

    .stopFloat { /* prevents elements below stopFloat from floating up above the stopFloat */
        clear: both;
    }


    .titleNav { /* titleNav is fixed at the top */
        position:fixed; 
        top:0px;
        left:0px;
        z-index: 1;                    
        width: 100%;    
        background-color:#F0D665;
        padding-bottom: 1.5%; 
        color: black;
        font-weight: bold;
        box-shadow: 0px 0px 5px black;  
        min-width: 650px; 

    }
    #pageTitle { 
        padding:12px;
        padding-bottom: 0px; 
        font-size:46px;
        font-style: normal;
        font-family: Impact, Charcoal, sans-serif;
        letter-spacing: 2.5px; 
        float: left;
    }
    /* for keeping the main icon responsive and placed correctly*/
    #mainIcon{
        padding-left:0;
        padding-top:7%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: 0px;
        width: 100%;  
    }


    #nav { /* nav bar in top right*/
        float:right;
        font-size:24px;
        padding-top:30px;
    }

    /* don't delete this even though there are no style rules - js needs it, references it. */
    .dropHeader {

    }
    /* style for dropdown menu buttons*/
    .dropdown {
        position: relative;  
        display: inline-block;
        margin-right: 1ex;
        cursor: pointer;
    }
} 